Debug/
Release/
build/
*.o
*.obj
*.d
*.su
*.cyclo
*.elf
*.bin
*.hex
*.map
*.srec
*.lst
*.a
*.lib
*.bak
*.log
*.tmp
*~
*.swp
.metadata/
RemoteSystemsTempFiles/
.settings/
mx.scratch
.vscode/
.idea/
.DS_Store
Thumbs.db
.mxproject
CMakeCache.txt
CMakeFiles/
CMakeUserPresets.json
